<html>
<head> 
  <link rel="stylesheet" type="text/css" href="<%= url('/quiz.css?v=700') %>">
  <title>Modo Examen - En juego</title>
</head>
<body>
  <h1>Pregunta:</h1>
  <h1><%= @preguntas[@contador].question %></h1>
  <img src="<%= @preguntas[@contador].image_url %>">
  <% @opciones.each do |op| %>
    <% if op == @preguntas[@contador].option.correct %>
      <form action="/exam/play/correct" method="get">
        <input type="hidden" name="id" value="<%= @examen.id %>">
        <button type="submit" value="<%= op %>"><%= op %></button>
      </form>
    <% else %>
      <form action="/exam/play/incorrect" method="get">
        <input type="hidden" name="id" value="<%= @examen.id %>">
        <button type="submit" value="<%= op %>"><%= op %></button>
      </form>  
    <% end %>    
  <% end %>
  <h2>Puntaje: <%= @examen.score %> </h2> 
  <h2>Vidas: <%= @examen.life %> </h2> 
</body>
</html>
