<html>
<head> 
<link rel="stylesheet" type="text/css" href="<%= url('/quiz.css') %>">
  <title>Modo Examen - En juego</title>
</head>
<body>
  <h1>Pregunta:</h1>
  <h1><p><%= @pregunta.question %></p></h1>
  <img src="/images/<%= @pregunta.image_url %>">
  <form action="/game/exam/play" method="post">
    <input type="radio" name="respuesta" value="<%= @pregunta.option.option %>" required><%= @pregunta.option.option %></input>
    <input type="radio" name="respuesta" value="<%= @pregunta.option.option2 %>" required><%= @pregunta.option.option2 %></input>
    <input type="radio" name="respuesta" value="<%= @pregunta.option.correct %>" required><%= @pregunta.option.correct %></input> 
    </form>
    <form action"/game/exam/play/answer" method="post">
      <button type="submit" name="Continuar">Enviar</button>
    </form> 
</body>
</html>